[Desktop Entry]
Type=Application
Name=Cosmic Capture
GenericName=Screen Capture
Comment=Screenshot, annotate, or screen-record a region
Keywords=screenshot;screencast;capture;record;annotate;screen;region;
Exec=cosmic-capture
TryExec=cosmic-capture
Icon=cosmic-capture
Terminal=false
StartupNotify=true
Categories=Utility;Graphics;AudioVideo;Recorder;
X-GNOME-UsesNotifications=true
